<h2 mat-dialog-title>{{ title }}</h2>
<form class="example-container">
    <div class="input-box">
        <mat-form-field appearance="fill">
            <mat-label>Argent Sale</mat-label>
            <input matInput type="number" [(ngModel)]="inputData.data.dirtyMoney" name="dirtyMoney" required
                (keyup)="drugPaidCalcul()" />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>%</mat-label>
            <input matInput type="number" [(ngModel)]="userInfo.percentDeal" name="percentDeal" required
                (keyup)="drugPaidCalcul()" />
            <span matSuffix>%</span>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>A payer drogue</mat-label>
            <input [disabled]="true" matInput placeholder="0" [(ngModel)]="calculData.drugPaid" name="drugPaid"
                required />
            <span matSuffix>$</span>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Sac Ginette</mat-label>
            <input matInput type="number" placeholder="0" [(ngModel)]="inputData.data.superetteBag" name="superetteBag"
                required (keyup)="sacPaidCalcul()" />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Prix du sac</mat-label>
            <input type="number" matInput [(ngModel)]="userInfo.other" name="other" required
                (keyup)="sacPaidCalcul()" />
            <span matSuffix>$</span>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>A payer Sac</mat-label>
            <input [disabled]="true" matInput placeholder="0" [(ngModel)]="calculData.sacPaid" name="sacPaid"
                required />
            <span matSuffix>$</span>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Payé par </mat-label>
            <mat-select [(value)]="inputData.data.paidBy" required>
                <mat-option *ngFor="let user of userMembre" value="{{ user }}">{{
                    user
                    }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="total">
            <mat-label>Total</mat-label>
            <input [disabled]="true" matInput placeholder="0" [(ngModel)]="inputData.data.paid" name="paid" required />
            <span matSuffix>$</span>
        </mat-form-field>


    </div>

    <div mat-dialog-actions>
        <button mat-stroked-button color="warn" mat-button mat-dialog-close>
            Cancel
        </button>
        <button type="submit" mat-stroked-button color="primary" [mat-dialog-close]="inputData.data" cdkFocusInitial>
            Payer
        </button>
    </div>
</form>