<div class="side-nav mat-elevation-z2">
  <div class="logo">
    <a href="/">
      <img class="fit-picture" src="{{ settings.logoPath }}" alt="Logo" />
    </a>
  </div>
  <mat-list>
    <mat-list-item>
      <button mat-button (click)="navigate('/dashboard')">
        Dashboard
      </button></mat-list-item
    >
    <mat-list-item>
      <button mat-button (click)="navigate('/annuaire')">
        Annuaire
      </button></mat-list-item
    >
    <mat-list-item>
      <button mat-button (click)="navigate('/comptability')">
        Comptabilitée
      </button></mat-list-item
    >
    <mat-list-item>
      <button mat-button (click)="navigate('/storage')">
        Stockages
      </button></mat-list-item
    >
    <mat-list-item>
      <button mat-button (click)="navigate('/gestions')">
        Gestions
      </button></mat-list-item
    >
    <mat-list-item>
      <button mat-button (click)="navigate('/settings')">
        Settings
      </button></mat-list-item
    >
  </mat-list>
</div>
