#header {
  text-align: center;
  background-color: #262626;
  color: white;
  padding: 10px;
  font-family: "Caveat", Arial, Helvetica, sans-serif;
  font-size: 30px;
  height: 105px;

  h1 {
    font-weight: bold;
    margin-bottom: 5px;
    border-bottom: 1px dashed gray;
    font-family: "Caveat", Arial, Helvetica, sans-serif;
    font-size: 50px;
    line-height: 50px;
    padding-bottom: 10px;
  }
  p {
    margin-top: 10px;
  }
  
  a{
    color: white;
    text-decoration: none;
  }
}
