<h2 mat-dialog-title>{{ title }}</h2>

<div mat-dialog-content>
  <p>{{ message }}</p>
</div>

<div mat-dialog-actions>
  <button mat-stroked-button color="primary" mat-button mat-dialog-close>
    Cancel
  </button>
  <button
    mat-stroked-button
    color="warn"
    [mat-dialog-close]="data.data"
    cdkFocusInitial
  >
    Confirm
  </button>
</div>
