<div class="storage mat-elevation-z8">
    <h2>Stockage</h2>

    <div class="add-btn">
        <button mat-raised-button color="accent" (click)="addStorage()">
            Ajouter un stockage
        </button>
    </div>

    <div class="storage-container">
        <div class="storage-box {{ storage.id }}" *ngFor="let storage of storages">
            <h4>{{ storage.storageName}} ---- {{storage.maxStorage}}Kg</h4>
            <div class="new-button">
                <button mat-stroked-button class="small" color="accent" (click)="addItem(storage)">
                    <mat-icon aria-hidden="false" aria-label="edit">add</mat-icon>
                </button>
                <button mat-stroked-button class="small" color="warn" (click)="deleteStorage(storage)">
                    <mat-icon aria-hidden="false" aria-label="Delete">delete</mat-icon>
                </button>
            </div>
            <div *ngFor="let _stock of storage.stock">
                <mat-card class="stock-items">
                    <div class="label">
                        <input placeholder="Nom du produit" [disabled]="!_stock.edit" matInput [(ngModel)]="_stock.name"
                            required />
                    </div>

                    <div class="stock">
                        <input type="number" [disabled]="!_stock.edit" matInput [(ngModel)]="_stock.quantity"
                            required />
                    </div>
                    <div class="action-button">
                        <button mat-stroked-button class="small" color="primary" *ngIf="!_stock.edit"
                            (click)="_stock.edit = true">
                            <mat-icon aria-hidden="false" aria-label="edit">edit</mat-icon>
                        </button>
                        <button mat-stroked-button class="small" color="warn" *ngIf="!_stock.edit"
                            (click)="delete(storage, _stock)">
                            <mat-icon aria-hidden="false" aria-label="Delete">delete</mat-icon>
                        </button>
                        <button mat-stroked-button color="primary" *ngIf="_stock.edit" (click)='save(storage, _stock)'>
                            <mat-icon aria-hidden="false" aria-label="Delete">save</mat-icon>
                        </button>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>

<div class="storage mat-elevation-z8">
    <h2>Locataires</h2>
    <div class="storage-container">
        <div class="storage-box {{ storage.id }}" *ngFor="let storage of storages">
            <h4>{{ storage.storageName}}</h4>
            <div class="new-button">
                <button mat-stroked-button class="small" color="accent" (click)="addTenant(storage)">
                    <mat-icon aria-hidden="false" aria-label="edit">add</mat-icon>
                </button>
            </div>
            <div *ngFor="let _tenant of storage.tenant">
                <mat-card class="stock-items">
                    <div class="label">
                        <mat-form-field appearance="fill">
                            <mat-select [(value)]="_tenant.name" required [disabled]="!_tenant.edit">
                                <mat-option *ngFor="let user of userMembre" value="{{ user }}">{{
                                    user
                                    }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="action-button">
                        <button mat-stroked-button class="small" color="primary" *ngIf="!_tenant.edit"
                            (click)="_tenant.edit = true">
                            <mat-icon aria-hidden="false" aria-label="edit">edit</mat-icon>
                        </button>
                        <button mat-stroked-button class="small" color="warn" *ngIf="!_tenant.edit"
                            (click)="deleteTenant(storage, _tenant)">
                            <mat-icon aria-hidden="false" aria-label="Delete">delete</mat-icon>
                        </button>
                        <button mat-stroked-button color="primary" *ngIf="_tenant.edit"
                            (click)='saveTenant(storage, _tenant)'>
                            <mat-icon aria-hidden="false" aria-label="Delete">save</mat-icon>
                        </button>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>