.storage {
  margin: 10px;
  padding: 5px;

  .add-btn {
    text-align: right;
  }

  .new-button {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    align-items: flex-start;
    flex-direction: row;

    button {
      margin: 4px;
    }

    ::ng-deep .mat-form-field-flex {
      padding: 0;
    }

    input {
      margin-left: 5px;
    }
  }

  h2 {
    text-align: center;
    font-weight: bold;
    background: #404040;
    color: #fafafa;
    margin: -5px -5px 15px -5px;
    border-radius: 3px 3px 0 0;
  }

  .storage-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;

    .storage-box {
      border: 1px solid;
      padding: 5px;
      border-radius: 3px;
      flex-grow: 2;
      margin: 5px;
      min-width: calc(50% - 30px);

      h4 {
        font-weight: bold;
      }

      .stock-items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding: 5px;
        margin-bottom: 5px;

        ::ng-deep .mat-form-field-wrapper {
          padding: 0;

          .mat-form-field-underline {
            bottom: 5px;
          }

          .mat-form-field-flex {
            padding: 0;
            background: transparent;

            span {
              color: black;
            }
          }
        }

        input {
          width: 100%;
          color: black;
          background: transparent;
          border: none;
          border-bottom: 2px solid;
        }
        :disabled {
          border: none;
        }

        .label {
          min-width: 100px;
          width: auto;
        }

        .stock {
          min-width: 50px;
          width: auto;
        }
      }
    }
  }
}
