h2 {
  text-align: center;
  margin-top: 10px;
}

#gestion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 10px 10px 10px;

  h3 {
    text-align: center;
    background: #404040;
    color: #fafafa;
    margin: -10px -10px 10px -10px;
    border-radius: 3px 3px 0 0;
  }

  .box {
    flex-grow: 3;
    margin: 8px 5px;
    padding: 10px;
    min-width: 400px;
  }

  .action-button {
    text-align: right;
  }
}
