<h2>Gestions</h2>
<div id="gestion">
    <div class="box mat-elevation-z2">
        <h3>Business</h3>
        <div class="action-button">
            <button mat-raised-button color="accent" mat-button (click)='add(businessDatabaseInfo)'>
                Ajouter un business
            </button>
        </div>

        <app-gestions-array-display [input]=businessDatabaseInfo></app-gestions-array-display>
    </div>

    <div class="box mat-elevation-z2">
        <h3>Fournisseurs</h3>
        <div class="action-button">
            <button mat-raised-button color="accent" mat-button (click)='add(fournisseurDatabaseInfo)'>
                Ajouter un fournisseur
            </button>
        </div>
        <app-gestions-array-display [input]=fournisseurDatabaseInfo></app-gestions-array-display>
    </div>

    <div class="box mat-elevation-z2">
        <h3>Blanchisseur / Recéleur </h3>
        <div class="action-button">
            <button mat-raised-button color="accent" mat-button (click)='add(laundererDatabaseInfo)'>
                Ajouter un Blanchisseur / Recéleur
            </button>
        </div>
        <app-gestions-array-display [input]=laundererDatabaseInfo></app-gestions-array-display>
    </div>

    <div class="box mat-elevation-z2">
        <h3>Grades</h3>
        <div class="action-button">
            <button mat-raised-button color="accent" mat-button (click)='add(gradesDatabaseInfo)'>
                Ajouter un grade
            </button>
        </div>
        <app-gestions-array-display [input]=gradesDatabaseInfo></app-gestions-array-display>
    </div>

</div>