<div class="activity mat-elevation-z8">
  <h2>Activiées en cours</h2>
  <div class="action-btn">
    <button mat-stroked-button class="small" color="accent" aria-label="Ajout d'un contact" (click)="add()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <mat-form-field class="filter">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input />
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantité</th>
      <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
    </ng-container>

    <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Produit</th>
      <td mat-cell *matCellDef="let element">{{ element.types }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
      <td mat-cell *matCellDef="let element">
        <button mat-stroked-button color="primary" (click)="paid(element)">
          Payer
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Aucune données disponible.</td>
    </tr>
  </table>

  <mat-paginator #paginator [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>