<div id="annuaire" class="mat-elevation-z8">
  <h1>Annuaire</h1>
  <div class="action-btn">
    <button mat-raised-button color="accent" aria-label="Ajout d'un contact" (click)="add()">
      Ajouter un contact
    </button>
  </div>

  <mat-form-field class="filter">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input />
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Prénom</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="surName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
      <td mat-cell *matCellDef="let element">{{ element.surName }}</td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Téléphone</th>
      <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
    </ng-container>

    <ng-container matColumnDef="percentDeal">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>% deal</th>
      <td mat-cell *matCellDef="let element">{{ element.percentDeal }}%</td>
    </ng-container>

    <ng-container matColumnDef="other">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Prix des sacs</th>
      <td mat-cell *matCellDef="let element">{{ element.other }}$</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let element">{{ element.status }}</td>
    </ng-container>

    <ng-container matColumnDef="comment">
      <th mat-header-cell *matHeaderCellDef>Commentaire</th>
      <td mat-cell *matCellDef="let element">{{ element.comment }}</td>
    </ng-container>

    <ng-container matColumnDef="actif">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Actif</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon class="green" *ngIf="element.actif" aria-hidden="false" aria-label="done">done</mat-icon>
        <mat-icon class="red" *ngIf="!element.actif" aria-hidden="false" aria-label="close">close</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button mat-stroked-button color="primary" (click)="edit(element)">
          <mat-icon aria-hidden="false" aria-label="edit">edit</mat-icon>
        </button>
        <button mat-stroked-button color="warn" (click)="delete(element)">
          <mat-icon aria-hidden="false" aria-label="Delete">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No data matching the filter "{{ input.value }}"
      </td>
    </tr>
  </table>

  <mat-paginator #paginator [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>