<h2 mat-dialog-title>{{ title }}</h2>
<form [formGroup]="saleForm">
  <div class="input-box">
    <mat-form-field appearance="fill" class="mid">
      <mat-label>Nom</mat-label>
      <input
        type="text"
        placeholder="Name"
        aria-label="Number"
        matInput
        formControlName="nameValidator"
        [matAutocomplete]="auto"
        required
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="inputData.data.name = $event.option.value"
      >
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option"
        >
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="fill" class="mid">
      <mat-label>Produit</mat-label>
      <mat-select
        [(value)]="inputData.data.product"
        required
        formControlName="productValidator"
      >
        <mat-option *ngFor="let _types of types" value="{{ _types }}">{{
          _types
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Quantité</mat-label>
      <input
        matInput
        type="number"
        placeholder="20"
        [(ngModel)]="inputData.data.quantity"
        (keyup)="calcTotal()"
        name="Quantité"
        required
        formControlName="quantityValidator"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Prix</mat-label>
      <input
        matInput
        type="number"
        placeholder="20"
        [(ngModel)]="inputData.data.price"
        (keyup)="calcTotal()"
        name="price"
        required
        formControlName="priceValidator"
      />
      <span matSuffix>$</span>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Total</mat-label>
      <input
        type="number"
        matInput
        placeholder="20"
        [(ngModel)]="inputData.data.total"
        name="total"
        required
        formControlName="totalValidator"
      />
      <span matSuffix>$</span>
    </mat-form-field>
  </div>

  <div mat-dialog-actions>
    <button mat-stroked-button color="warn" mat-button mat-dialog-close>
      Cancel
    </button>
    <button
      type="submit"
      mat-stroked-button
      color="primary"
      [mat-dialog-close]="inputData.data"
      [disabled]="!saleForm.valid"
    >
      Confirm
    </button>
  </div>
</form>
