<h2 mat-dialog-title>{{ title }}</h2>
<form [formGroup]="activityFormGroup">
  <div class="input-box">
    <mat-form-field appearance="fill">
      <mat-label>Contact</mat-label>
      <input
        type="text"
        placeholder="Contact"
        matInput
        formControlName="nameValidator"
        [matAutocomplete]="auto"
        [(value)]="inputData.data.name"
        required
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="inputData.data.name = $event.option.value"
      >
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option"
        >
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Quantité</mat-label>
      <input
        matInput
        type="number"
        placeholder="20"
        [(ngModel)]="inputData.data.quantity"
        name="Quantité"
        required
        formControlName="quantityValidator"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Types</mat-label>
      <mat-select
        [(value)]="inputData.data.types"
        required
        formControlName="typeValidator"
      >
        <mat-option *ngFor="let _types of types" value="{{ _types }}">{{
          _types
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div mat-dialog-actions>
    <button mat-stroked-button color="warn" mat-button mat-dialog-close>
      Cancel
    </button>
    <button
      type="submit"
      mat-stroked-button
      color="primary"
      [mat-dialog-close]="inputData.data"
      [disabled]="!activityFormGroup.valid"
    >
      Confirm
    </button>
  </div>
</form>
