<h2 mat-dialog-title>{{ title }}</h2>
<form class="example-container">
  <div class="input-box">
    <mat-form-field appearance="fill">
      <mat-label>Nom</mat-label>
      <input matInput placeholder="Nom" [(ngModel)]="inputData.data.name" name="Nom" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Prénom</mat-label>
      <input matInput placeholder="Prénom" [(ngModel)]="inputData.data.surName" name="Prénom" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Téléphone</mat-label>
      <input matInput placeholder="555-XXX" [(ngModel)]="inputData.data.phone" name="Téléphone" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>% deal</mat-label>
      <input matInput placeholder="20%" [(ngModel)]="inputData.data.percentDeal" name="percentDeal" required
        type="number" />
      <span matSuffix>%</span>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Tarif sacs</mat-label>
      <input matInput placeholder="other" [(ngModel)]="inputData.data.other" name="other" required type="number" />
      <span matSuffix>$</span>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Status</mat-label>
      <mat-select [(value)]="inputData.data.status">
        <mat-option *ngFor="let _status of status" value="{{ _status }}">{{
          _status
          }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="comment-input">
      <mat-label>Commentaire</mat-label>
      <textarea matInput placeholder="comment" [(ngModel)]="inputData.data.comment" name="comment" required></textarea>
    </mat-form-field>
  </div>
  
  <section class="actif-input">
    <mat-checkbox [(ngModel)]="inputData.data.actif" [ngModelOptions]="{standalone: true}">Actif</mat-checkbox>
  </section>

  <div mat-dialog-actions>
    <button mat-stroked-button color="warn" mat-button mat-dialog-close>
      Cancel
    </button>
    <button type="submit" mat-stroked-button color="primary" [mat-dialog-close]="inputData.data" cdkFocusInitial>
      Confirm
    </button>
  </div>
</form>