<h2 mat-dialog-title>{{ title }}</h2>
<form [formGroup]="profileForm">
    <div class='input-box'>
        <mat-form-field appearance="fill">
            <mat-label>Blanchisseur</mat-label>
            <mat-select [(value)]="inputData.data.launderer" required formControlName="laundererValidator">
                <mat-option *ngFor="let _launderer of launderer" value="{{ _launderer }}">{{
                    _launderer
                    }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Taux</mat-label>
            <input matInput type="number" [(ngModel)]="inputData.data.rateDirtyMoney" name="rateDirtyMoney" required
                formControlName="rateDirtyMoneyValidator" />
            <span matSuffix>%</span>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Prix sac</mat-label>
            <input matInput type="number" [(ngModel)]="inputData.data.bagPrice" name="bagPrice" required
                formControlName="bagPriceValidator" />
            <span matSuffix>$</span>
        </mat-form-field>
    </div>

    <div mat-dialog-actions>
        <button mat-stroked-button color="warn" mat-button mat-dialog-close>
            Cancel
        </button>
        <button type="submit" mat-stroked-button color="primary" [disabled]="!profileForm.valid"
            [mat-dialog-close]="inputData.data" cdkFocusInitial>
            Confirm
        </button>
    </div>
</form>