@font-face {
  font-family: "Caveat";
  src: local("Caveat"),
    url(../assets/fonts/Caveat-VariableFont_wght.ttf) format("truetype");
}

.mat-drawer-content {
  height: 100vh;
}

mat-drawer {
  background-color: #262626;
}

:host {
  ::ng-deep button.small {
    margin: auto 2px;
    padding: 0px;
    min-width: 45px;
  }
}

::ng-deep .mat-dialog-container {
  h2 {
    text-align: center;
    font-weight: bold;
    background: #404040;
    color: #fafafa;
    margin: -24px -24px 25px -24px;
    border-radius: 3px 3px 0 0;
  }
}

::ng-deep form {
  .mat-form-field-disabled {
    .mat-form-field-flex {
      background-color: #1a1a1a47 !important;
      border-radius: 3px !important;
    }

    input,
    .mat-form-field-label {
      color: black !important;
    }
  }
}
