<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <app-menu></app-menu>
    </mat-drawer>
    <mat-drawer-content>
        <app-header></app-header>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>