<h2 mat-dialog-title>{{ title }}</h2>
<form [formGroup]="profileForm">
  <div class="input-box">
    <mat-form-field appearance="fill">
      <mat-label>Fournisseur</mat-label>
      <mat-select
        [(value)]="inputData.data.supplier"
        required
        formControlName="supplierValidator"
      >
        <mat-option
          *ngFor="let _supplier of suppliers"
          value="{{ _supplier }}"
          >{{ _supplier }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Prix unitaire</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="inputData.data.unitPrice"
        name="Quantité"
        required
        formControlName="unitPriceValidator"
      />
      <span matSuffix>$</span>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Produit</mat-label>
      <mat-select
        [(value)]="inputData.data.product"
        required
        formControlName="productValidator"
      >
        <mat-option
          *ngFor="let _business of business"
          value="{{ _business }}"
          >{{ _business }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>

  <div mat-dialog-actions>
    <button mat-stroked-button color="warn" mat-button mat-dialog-close>
      Cancel
    </button>
    <button
      type="submit"
      mat-stroked-button
      color="primary"
      [disabled]="!profileForm.valid"
      [mat-dialog-close]="inputData.data"
      cdkFocusInitial
    >
      Confirm
    </button>
  </div>
</form>
