h2 {
  text-align: center;
}
.large {
  width: 100%;
}

form {
  .input-box {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .mat-form-field {
    margin: auto 5px;
  }
  .comment-input {
    width: 100%;
  }

  .mat-dialog-actions {
    justify-content: center;
  }

  .actif-input {
    text-align: center;
  }
}
