<h2 mat-dialog-title>{{ title }}</h2>
<form [formGroup]="profileForm">
  <div class="input-box">
    <mat-form-field appearance="fill" class="large">
      <mat-label>Fournisseur</mat-label>
      <mat-select
        [(value)]="inputData.data.launderer"
        required
        formControlName="laundererValidator"
        (selectionChange)="getRateByLaunderer()"
      >
        <mat-option
          *ngFor="let _launderer of launderer"
          value="{{ _launderer }}"
          >{{ _launderer }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Argent Sale</mat-label>
      <input
        matInput
        type="number"
        (keyup)="calcDirtyMoney()"
        [(ngModel)]="inputData.data.dirtyMoney"
        name="dirtyMoney"
        required
        formControlName="dirtyMoneyValidator"
      />
      <span matSuffix>$</span>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Taux argent sale</mat-label>
      <input
        matInput
        type="number"
        (keyup)="calcDirtyMoney()"
        [(ngModel)]="inputData.data.rateDirtyMoney"
        name="rateDirtyMoney"
        required
        formControlName="rateDirtyMoneyValidator"
      />
      <span matSuffix>%</span>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Total argent sale</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="inputData.data.totalDirtyMoney"
        name="totalDirtyMoney"
        required
        formControlName="totalDirtyMoneyValidator"
      />
      <span matSuffix>$</span>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Sac</mat-label>
      <input
        matInput
        type="number"
        (keyup)="calcSac()"
        [(ngModel)]="inputData.data.bag"
        name="sac"
        required
        formControlName="bagValidator"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Prix sac</mat-label>
      <input
        matInput
        type="number"
        (keyup)="calcSac()"
        [(ngModel)]="inputData.data.bagPrice"
        name="sacPrice"
        required
        formControlName="bagPriceValidator"
      />
      <span matSuffix>$</span>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Total Sac</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="inputData.data.totalBag"
        name="totalSac"
        required
        formControlName="totalSacValidator"
      />
      <span matSuffix>$</span>
    </mat-form-field>

    <mat-form-field appearance="fill" class="large">
      <mat-label>Total</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="inputData.data.totalPrice"
        name="totalPrice"
        required
        formControlName="totalPriceValidator"
      />
      <span matSuffix>$</span>
    </mat-form-field>
  </div>

  <div mat-dialog-actions>
    <button mat-stroked-button color="warn" mat-button mat-dialog-close>
      Cancel
    </button>
    <button
      type="submit"
      mat-stroked-button
      color="primary"
      [disabled]="!profileForm.valid"
      [mat-dialog-close]="inputData.data"
    >
      Confirm
    </button>
  </div>
</form>
