<div id="purchase" class="mat-elevation-z8">
  <h2>Achats</h2>
  <div class="action-button">
    <button mat-raised-button color="accent" mat-button (click)="addPurchase()">
      Faire un achat
    </button>
  </div>
  <div class="container-box-purchase">
    <div class="box-purchase purchase">
      <h3>Historique des achats</h3>
      <table mat-table [dataSource]="purchaseDisplayedSource" class="mat-elevation-z1">
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let element">{{ element.date }}</td>
        </ng-container>

        <ng-container matColumnDef="supplier">
          <th mat-header-cell *matHeaderCellDef>Fournisseur</th>
          <td mat-cell *matCellDef="let element">{{ element.supplier }}</td>
        </ng-container>

        <ng-container matColumnDef="product">
          <th mat-header-cell *matHeaderCellDef>Produit</th>
          <td mat-cell *matCellDef="let element">{{ element.product }}</td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef>Quantité</th>
          <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
        </ng-container>

        <ng-container matColumnDef="totalPaid">
          <th mat-header-cell *matHeaderCellDef>Total payé</th>
          <td mat-cell *matCellDef="let element">{{ element.unitPrice }}$</td>
        </ng-container>

        <ng-container matColumnDef="paidBy">
          <th mat-header-cell *matHeaderCellDef>Payé par</th>
          <td mat-cell *matCellDef="let element">{{ element.paidBy }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="purchaseDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: purchaseDisplayedColumns"></tr>
      </table>
      <mat-paginator #purchasePaginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
    <div class="box-purchase mat-elevation-z1">
      <h3>Gestion des prix d'achats</h3>
      <div class="action-button">
        <button mat-raised-button color="accent" mat-button (click)="addOrEditPurchasePrice()">
          Ajouter un prix
        </button>
      </div>
      <table mat-table [dataSource]="purchasePriceDataSource" class="mat-elevation-z1">
        <ng-container matColumnDef="supplier">
          <th mat-header-cell *matHeaderCellDef>Fournisseur</th>
          <td mat-cell *matCellDef="let element">{{ element.supplier }}</td>
        </ng-container>

        <ng-container matColumnDef="product">
          <th mat-header-cell *matHeaderCellDef>Produit</th>
          <td mat-cell *matCellDef="let element">{{ element.product }}</td>
        </ng-container>

        <ng-container matColumnDef="unitPrice">
          <th mat-header-cell *matHeaderCellDef>Prix unitaire</th>
          <td mat-cell *matCellDef="let element">{{ element.unitPrice }}$</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="actions">Actions</th>
          <td mat-cell *matCellDef="let element" class="actions">
            <button mat-stroked-button color="primary" (click)="addOrEditPurchasePrice(element)">
              <mat-icon aria-hidden="false" aria-label="edit">edit</mat-icon>
            </button>
            <button mat-stroked-button color="warn">
              <mat-icon aria-hidden="false" aria-label="Delete" (click)="deleteDocument('purchasePrice', element)">
                delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="purchasePriceDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: purchasePriceDisplayedColumns"></tr>
      </table>
    </div>
  </div>
</div>

<div id="sale" class="mat-elevation-z8">
  <h2>Ventes</h2>
  <div class="action-button">
    <button mat-raised-button color="accent" mat-button (click)="addSale()">
      Faire une vente
    </button>
  </div>
  <div class="container-box-sale">
    <div class="box-sale sale">
      <h3>Historique des ventes</h3>
      <table mat-table [dataSource]="saleDisplayedSource" class="mat-elevation-z1">
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let element">{{ element.date }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nom</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="product">
          <th mat-header-cell *matHeaderCellDef>Produit</th>
          <td mat-cell *matCellDef="let element">{{ element.product }}</td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef>Quantité</th>
          <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>Prix</th>
          <td mat-cell *matCellDef="let element">{{ element.price }}$</td>
        </ng-container>

        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef>Total</th>
          <td mat-cell *matCellDef="let element">{{ element.total }}$</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="saleDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: saleDisplayedColumns"></tr>
      </table>
      <mat-paginator #purchasePaginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
  </div>
</div>

<div id="launderer" class="mat-elevation-z8">
  <h2>Blanchiment</h2>
  <div class="action-button">
    <button mat-raised-button color="accent" mat-button (click)="addLaunderer()">
      Faire un blanchiment
    </button>
  </div>
  <div class="container-box-launderer">
    <div class="box-launderer launderer">
      <h3>Historique des blanchiments</h3>
      <table mat-table [dataSource]="laundererDisplayedSource" class="mat-elevation-z1">
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let element">{{ element.date }}</td>
        </ng-container>

        <ng-container matColumnDef="launderer">
          <th mat-header-cell *matHeaderCellDef>Blanchisseur</th>
          <td mat-cell *matCellDef="let element">{{ element.launderer }}</td>
        </ng-container>

        <ng-container matColumnDef="dirtyMoney">
          <th mat-header-cell *matHeaderCellDef>Argent Sale</th>
          <td mat-cell *matCellDef="let element">{{ element.dirtyMoney }}</td>
        </ng-container>

        <ng-container matColumnDef="bag">
          <th mat-header-cell *matHeaderCellDef>Sac</th>
          <td mat-cell *matCellDef="let element">{{ element.bag }}</td>
        </ng-container>

        <ng-container matColumnDef="totalPrice">
          <th mat-header-cell *matHeaderCellDef>Total</th>
          <td mat-cell *matCellDef="let element">{{ element.totalPrice }}$</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="laundererDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: laundererDisplayedColumns"></tr>
      </table>
      <mat-paginator #laundererPaginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>

    <div class="box-purchase mat-elevation-z1">
      <h3>Gestion des taux</h3>
      <div class="action-button">
        <button mat-raised-button color="accent" mat-button (click)="addOrEditBleachingRate()">
          Ajouter un taux
        </button>
      </div>
      <table mat-table [dataSource]="bleachingRateDisplayedSource" class="mat-elevation-z1">
        <ng-container matColumnDef="launderer">
          <th mat-header-cell *matHeaderCellDef>Blanchisseur</th>
          <td mat-cell *matCellDef="let element">{{ element.launderer }}</td>
        </ng-container>

        <ng-container matColumnDef="rateDirtyMoney">
          <th mat-header-cell *matHeaderCellDef>Taux argent sale</th>
          <td mat-cell *matCellDef="let element">
            {{ element.rateDirtyMoney }}%
          </td>
        </ng-container>

        <ng-container matColumnDef="bagPrice">
          <th mat-header-cell *matHeaderCellDef>Prix sac</th>
          <td mat-cell *matCellDef="let element">{{ element.bagPrice }}$</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="actions">Actions</th>
          <td mat-cell *matCellDef="let element" class="actions">
            <button mat-stroked-button color="primary" (click)="addOrEditBleachingRate(element)">
              <mat-icon aria-hidden="false" aria-label="edit">edit</mat-icon>
            </button>
            <button mat-stroked-button color="warn">
              <mat-icon aria-hidden="false" aria-label="Delete" (click)="deleteDocument('bleachingRate', element)">
                delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="leachingRateDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: leachingRateDisplayedColumns"></tr>
      </table>
    </div>
  </div>
</div>