#purchase,
#launderer,
#sale {
  margin: 10px;
  padding: 10px;

  > .action-button {
    padding-right: 10px;
  }

  .action-button {
    text-align: right;
  }

  h2 {
    text-align: center;
    font-weight: bold;
    background: #404040;
    color: #fafafa;
    margin: -10px -10px 10px -10px;
    border-radius: 3px 3px 0 0;
  }

  .container-box-purchase,
  .container-box-launderer,
  .container-box-sale  {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    .purchase,
    .launderer,
    .sale {
      flex-grow: 2;
    }
    .box-purchase,
    .box-launderer,
    .box-sale {
      min-width: 400px;
      margin: 10px 10px;
      padding: 10px;
      border: 1px solid gray;
      border-radius: 3px;

      h3 {
        text-align: center;
        font-weight: bold;
        text-decoration: underline;
      }

      table {
        margin-top: 10px;
        width: 100%;

        td,
        th {
          text-align: center;
        }

        .actions {
          text-align: right;

          button {
            min-width: 50px;
            margin: 0 3px;
          }
        }
      }
    }
  }
}
