::ng-deep .mat-card-containt {
  mat-card {
    padding: 5px 10px;
    margin: 5px auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-self: center;
    align-items: center;

    .mat-form-field{
      flex-grow: 2;
    }
  }

  .action-button {
    button {
      margin: auto 3px;
    }
  }

  .mat-form-field-wrapper {
    padding-bottom: 18px;
    margin-bottom: -18px;
    .mat-form-field-flex {
      padding: 5px 5px 0px 10px;
    }
  }

  .noEditMode {
    .mat-form-field-wrapper {
      .mat-form-field-flex {
        padding: 0;
        background-color: transparent;
        .mat-form-field-infix {
          margin: 0;
          padding: 0;
          border: 0;
          input {
            color: black;
          }
        }
      }
    }
  }
}
