<div class="mat-card-containt">
  <mat-card *ngFor="let _data of input.data">
    <mat-form-field appearance="fill" [ngClass]="{ noEditMode: !_data.edit }">
      <input
        [disabled]="!_data.edit"
        matInput
        [(ngModel)]="_data.name"
        required
      />
    </mat-form-field>
    <div class="action-button">
      <button
        mat-stroked-button
        color="primary"
        *ngIf="!_data.edit"
        (click)="_data.edit = true"
        class="small"
      >
        <mat-icon aria-hidden="false" aria-label="edit">edit</mat-icon>
      </button>
      <button
        mat-stroked-button
        color="warn"
        *ngIf="!_data.edit"
        (click)="delete(_data)"
        class="small"
      >
        <mat-icon aria-hidden="false" aria-label="Delete">delete</mat-icon>
      </button>
      <button
        mat-stroked-button
        color="primary"
        [disabled]="_data.name.length < 3"
        *ngIf="_data.edit"
        (click)="update(_data)"
      >
        <mat-icon aria-hidden="false" aria-label="Delete">save</mat-icon>
      </button>
    </div>
  </mat-card>

  <mat-card *ngIf="input.data && input.data.length === 0">
    Aucune données disponible.
  </mat-card>
</div>
