.stats {
  margin: 10px;
  padding: 10px;

  h2 {
    text-align: center;
    font-weight: bold;
    background: #404040;
    color: #fafafa;
    margin: -10px -10px 15px -10px;
    border-radius: 3px 3px 0 0;
  }

  .filter {
    width: calc(100% - 20px);
    margin: 0 10px;
  }

  table {
    width: 100%;
    .mat-column-actions {
      width: 150px;
      text-align: right;
      button {
        margin: 0 2px;
      }
    }
  }
}
