<div class="stats mat-elevation-z8">
  <h2>Statistique sur la journée</h2>
  <mat-form-field class="filter">
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. ium"
      #input
    />
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="totalPaid">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Total payé</th>
      <td mat-cell *matCellDef="let element">{{ element.totalPaid }}</td>
    </ng-container>

    <ng-container matColumnDef="totalDirtyMoney">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Total Argent Sale
      </th>
      <td mat-cell *matCellDef="let element">{{ element.totalDirtyMoney }}</td>
    </ng-container>

    <ng-container matColumnDef="totalSuperetteBag">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Sac</th>
      <td mat-cell *matCellDef="let element">
        {{ element.totalSuperetteBag }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Aucune données disponible.</td>
    </tr>
  </table>

  <mat-paginator
    #paginator
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
  >
  </mat-paginator>
</div>
