form {
    .input-box {
      display: flex;
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      .mid{
          width: calc(50% - 10px);
      }
    }
    
    .mat-form-field {
      margin: auto 5px;
    }
    .comment-input {
      width: 100%;
    }
  
    .mat-dialog-actions {
      justify-content: center;
    }
  }
  