<h2 mat-dialog-title>{{ title }}</h2>
<form [formGroup]="storageForm">
    <div class="input-box">
        <mat-form-field appearance="fill" class="mid">
            <mat-label>Nom de l'appartement</mat-label>
            <input matInput type="text" placeholder="Appartement N°1" [(ngModel)]="inputData.data.storageName" name="storageName" required
                formControlName="nameValidator" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="mid">
            <mat-label>Capacité de stockage</mat-label>
            <input matInput type="number" placeholder="150" [(ngModel)]="inputData.data.maxStorage" name="maxStorage"
                required formControlName="maxStorageValidator" />
        </mat-form-field>
    </div>

    <div mat-dialog-actions>
        <button mat-stroked-button color="warn" mat-button mat-dialog-close>
            Cancel
        </button>
        <button type="submit" mat-stroked-button color="primary" [mat-dialog-close]="inputData.data"
            [disabled]="!storageForm.valid">
            Confirm
        </button>
    </div>
</form>