<div id="settings" class="mat-elevation-z8">
  <h2>Settings</h2>

  <div class="input-container">
    Nom du site :
    <input
      matInput
      [(ngModel)]="settings.webSiteTitle"
      required
      (keyup)="save()"
    />
    Slogan :
    <input matInput [(ngModel)]="settings.slogan" required (keyup)="save()" />
    Logo :
    <input matInput [(ngModel)]="settings.logoPath" required (keyup)="save()" />
  </div>
</div>
