#settings {
  margin: 10px;
  padding: 10px;

  h2 {
    text-align: center;
    font-weight: bold;
    background: #404040;
    color: #fafafa;
    margin: -10px -10px 10px -10px;
    border-radius: 3px 3px 0 0;
  }

  .input-container {
    display: flex;
    flex-direction: column;

    input {
      margin: 5px 0 15px 0;
    }
  }
}
